@charset "UTF-8";
.body {
  background-color: #f2f7f4;
}
.formTemplate {
  position: relative;
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.formTemplate .formTemplate__formContentWrapper {
  background-color: #ffffff;
  padding: 10rem 12rem 6rem;
  border-radius: 10px;
  box-shadow: 0 0 6px #C7C7C7;
  margin-top: 6rem;
}
@media only screen and (max-width: 480px) {
  .formTemplate .formTemplate__formContentWrapper {
    padding: 5rem 4rem 4rem;
  }
}
.formTemplate .formTemplate__formContentWrapper.-login {
  margin-top: 0;
}
.formTemplate .formTemplate__formContentWrapper.-mt0 {
  margin-top: 0;
}
.formTemplate .formTemplate__formContentWrapper.-plr8 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
@media only screen and (max-width: 480px) {
  .formTemplate .formTemplate__formContentWrapper.-plr8 {
    padding: 5rem 4rem 4rem;
  }
}
.formTemplate .formTemplate__heading {
  text-align: center;
  display: inline-block;
  padding: 2rem 3rem;
  margin-bottom: 5rem;
  color: #5DAC7D;
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}
@media only screen and (max-width: 480px) {
  .formTemplate .formTemplate__heading {
    padding: 2rem 5%;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 321px) {
  .formTemplate .formTemplate__heading {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
}
.formTemplate .formTemplate__heading.-login__logo img {
  width: 100%;
}
.formTemplate .formTemplate__inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.formTemplate .formTemplate__inputBox.-aic {
  background-color: #5DAC7D !important;
  color: #ffffff;
  font-size: 3rem;
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formTemplate .formTemplate__inputBox .formTemplate__input.-reserveDate {
  font-size: 3rem;
  color: #ffffff;
  display: block;
  line-height: 74px;
  margin: 1.5rem auto 0;
  border-radius: 10px;
}
@media only screen and (min-width: 481px) and (max-width: 768px), only screen and (max-width: 480px) {
  .formTemplate .formTemplate__inputBox .formTemplate__input {
    padding: 1rem 1rem;
  }
}
.formTemplate .formTemplate__inputBox .formTemplate__input.-width25 {
  width: 25%;
  margin-left: 1rem;
}
.formTemplate .formTemplate__inputBox .formTemplate__input.-width20 {
  width: 20%;
}
.formTemplate .formTemplate__inputBox.-center {
  justify-content: center;
}
.formTemplate .formTemplate__inputBox .formTemplate__inputLable, .formTemplate .formTemplate__inputBox label {
  width: 25%;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 480px) {
  .formTemplate .formTemplate__inputBox .formTemplate__inputLable, .formTemplate .formTemplate__inputBox label {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px), only screen and (max-width: 480px) {
  .formTemplate .formTemplate__inputBox .formTemplate__inputLable, .formTemplate .formTemplate__inputBox label {
    width: 100%;
  }
}
.formTemplate .formTemplate__inputBox .formTemplate__textareaLable {
  width: 25%;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  align-self: flex-start;
  padding-top: 2rem;
}
@media only screen and (max-width: 480px) {
  .formTemplate .formTemplate__inputBox .formTemplate__textareaLable {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px), only screen and (max-width: 480px) {
  .formTemplate .formTemplate__inputBox .formTemplate__textareaLable {
    width: 100%;
  }
}
.formTemplate .formTemplate__inputBox .formTemplate__inputItem {
  width: 75%;
}
@media only screen and (min-width: 481px) and (max-width: 768px), only screen and (max-width: 480px) {
  .formTemplate .formTemplate__inputBox .formTemplate__inputItem {
    width: 100%;
  }
}
.formTemplate .formTemplate__inputBox .formTemplate__inputItem textarea, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__input, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__selectItem {
  width: 100%;
  padding: 11px 8px;
  letter-spacing: 0.1rem;
  border: 2px solid #C7C7C7;
  border-radius: 10px;
  font-size: 1.6rem;
  line-height: normal;
}
.formTemplate .formTemplate__inputBox .formTemplate__inputItem textarea.-reserveDate, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__input.-reserveDate, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__selectItem.-reserveDate {
  font-size: 3rem;
  color: #ffffff;
  display: block;
  line-height: 74px;
  margin: 1.5rem auto 0;
  border-radius: 10px;
}
@media only screen and (min-width: 481px) and (max-width: 768px), only screen and (max-width: 480px) {
  .formTemplate .formTemplate__inputBox .formTemplate__inputItem textarea, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__input, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__selectItem {
    padding: 1rem 1rem;
  }
}
.formTemplate .formTemplate__inputBox .formTemplate__inputItem textarea.-width25, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__input.-width25, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__selectItem.-width25 {
  width: 25%;
  margin-left: 1rem;
}
.formTemplate .formTemplate__inputBox .formTemplate__inputItem textarea.-width20, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__input.-width20, .formTemplate .formTemplate__inputBox .formTemplate__inputItem .formTemplate__selectItem.-width20 {
  width: 20%;
}
.formTemplate .formTemplate__inputBox .formTemplate__textarea {
  width: 100%;
  height: 216px;
  padding: 11px 8px;
  letter-spacing: 0.1rem;
  border: 2px solid #C7C7C7;
  border-radius: 10px;
  font-size: 1.6rem;
  line-height: normal;
}
.formTemplate .formTemplate__inputBox .formTemplate__selectItem {
  width: 15%;
  margin-right: 2%;
  border: solid 4px #333333;
}
.formTemplate .formTemplate__inputBox .formTemplate__selectItem:hover {
  cursor: pointer;
}
.formTemplate .formTemplate__inputBox select:invalid {
  color: #707070;
}
.formTemplate .formTemplate__cta {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.formTemplate .formTemplate__cta .-center {
  font-weight: 700;
}
.formTemplate .formTemplate__cta .-center:hover {
  color: #5DAC7D;
  opacity: 0.8;
}
.formTemplate .formTemplate__cta.-first {
  margin-top: 2.8rem;
}
.formTemplate .formTemplate__cta.-mt2 {
  margin-top: 2rem;
}
.formTemplate .cta__button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  background-color: #5DAC7D;
  width: 19rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.formTemplate .cta__button.-backToLogin {
  background-color: #c6c6c6;
  color: #000000;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.formTemplate .cta__button:hover {
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}
.formTemplate .formTemplate__send {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0;
  background-color: #ffffff;
  padding: 6rem 12rem 6rem;
  border-radius: 10px;
  box-shadow: 0 0 6px #C7C7C7;
  width: 100%;
}
.formTemplate .formTemplate__backToLogInButton {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #5DAC7D;
  width: 19rem;
  height: 6rem;
  border-radius: 10px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  transition: 0.3s;
}
.formTemplate .formTemplate__backToLogInButton:hover {
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}
.formTemplate .formTemplate__whitebox {
  display: inline-block;
  padding: 2rem 2rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  background: #333333;
  border: solid 6px #ffffff;
  color: #ffffff;
}
.formTemplate .formTemplate__wrap {
  flex-direction: column;
}
.formTemplate .-maxwidth__300 {
  width: 100%;
  max-width: 300px;
}
.step {
  list-style-type: none;
  display: table;
  width: 100%;
  padding: 0;
  margin: 12rem 0 0;
  overflow: hidden;
}
.step.-mb8 {
  margin-bottom: 8rem;
}
.step.-mt0 {
  margin-top: 0;
}
.step li {
  display: table-cell;
  position: relative;
  background: #333333;
  padding: 1em 0.5em 1em 2em;
  color: #ffffff;
  width: 33%;
  text-align: center;
}
.step li:last-child {
  padding-right: 1em;
}
.step li:last-child:before, .step li:last-child:after {
  display: none;
}
.step li:before, .step li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
.step li:before {
  top: -15px;
  right: -1em;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li:after {
  top: -15px;
  right: -0.8em;
  border-style: solid;
  border-color: transparent transparent transparent #333333;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li.is-current {
  background: #5DAC7D;
  font-weight: bold;
}
.step li.is-current:after {
  border-color: transparent transparent transparent #5DAC7D;
}
.contact-backlink {
  display: inline-block;
  margin-top: 2rem;
}
.linkText {
  font-size: 1.6rem;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .linkText {
    font-size: 1.4rem;
  }
}
.formTemplate__input.-aic {
  background-color: #5DAC7D;
  color: #ffffff;
  font-size: 3rem;
  width: inherit;
}
[href="javascript:history.back()"].cta__button {
  margin-right: 2rem;
  background-color: #c6c6c6;
  color: #000000;
}
