@charset "UTF-8";
.project__wrap .project__contents {
  background-color: #f2f7f4;
}
.project__wrap .project__contents .send {
  padding: 15px 70px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #5DAC7D;
  border: none;
  display: block;
  margin: 4rem auto 0;
  text-align: center;
  width: 253px;
}
@media only screen and (max-width: 480px) {
  .project__wrap .project__contents .send {
    font-size: 1.6rem;
  }
}
.project__wrap .project__contents .send:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}
.projectDetail__title .projectDetail__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectDetail__title .projectDetail__box .projectDetail__name {
  font-size: 3rem;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .projectDetail__title .projectDetail__box .projectDetail__name {
    font-size: 2.2rem;
  }
}
.projectDetail__title .projectDetail__box .projectDetail__name .projectDetail__br {
  display: none;
}
@media only screen and (max-width: 766px) {
  .projectDetail__title .projectDetail__box .projectDetail__name .projectDetail__br {
    display: block;
  }
}
.projectDetail__title .projectDetail__box .projectDetail__edit {
  cursor: pointer;
}
.projectDetail__title .projectDetail__box .projectDetail__edit a {
  font-size: 1.6rem;
}
@media only screen and (max-width: 480px) {
  .projectDetail__title .projectDetail__box .projectDetail__edit a {
    font-size: 1rem;
  }
}
.projectDetail__title .projectDetail__box .projectDetail__edit a::after {
  content: "ï„";
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  padding-left: 0.5rem;
  color: #38803d;
}
.list__wrap6 {
  margin-top: 2.8rem;
  margin-bottom: 4rem;
}
.list__wrap6 .list__tableInformation {
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  word-break: break-all;
  border-spacing: 0 1px;
  border: 1px solid #38803d;
  background-color: #ffffff;
  padding-bottom: 2rem;
}
.list__wrap6 .list__tableInformation .list__titleBox {
  background: #5DAC7D;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 2.3rem;
}
@media only screen and (max-width: 1450px) {
  .list__wrap6 .list__tableInformation .list__titleBox {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .list__wrap6 .list__tableInformation .list__titleBox {
    font-size: 1.8rem;
  }
}
.list__wrap6 .list__tableInformation .list__textBox {
  padding: 3rem 2.4rem 2.2rem;
  background: #ffffff;
}
.list__wrap6 .list__tableInformation .list__textBox .list__textItem {
  background: #f5f5f5;
  padding: 0.5rem;
}
@media only screen and (max-width: 480px) {
  .list__wrap6 .list__tableInformation .list__textBox .list__textItem {
    font-size: 1.4rem;
  }
}
.list__wrap6 .list__tableInformation .list__textBox2 {
  padding: 2.2rem 2.4rem;
  background: #ffffff;
}
.list__wrap6 .list__tableInformation .list__textBox2 .list__textItem {
  background: #f5f5f5;
  font-size: 1.6rem;
  padding: 0.5rem;
  height: 170px;
}
@media only screen and (max-width: 480px) {
  .list__wrap6 .list__tableInformation .list__textBox2 .list__textItem {
    font-size: 1.4rem;
  }
}
.page__contact2 .contact__container1 {
  margin-bottom: 5rem;
}
.page__contact2 .contact__container1 .contact__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
}
.page__contact2 .contact__container1 .contact__box1 p {
  padding: 1.5rem 0;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact__container1 .contact__box1 p {
    padding: 0.5rem 0;
    font-size: 1.4rem;
  }
}
.page__contact2 .contact__container1 .contact__box1 p:nth-of-type(1) {
  width: 40%;
  color: #ffffff;
  background: black;
}
.page__contact2 .contact__container1 .contact__box1 p:nth-of-type(2) {
  width: 60%;
  color: #5DAC7D;
  background: gray;
}
.page__contact2 .contact__container1 .contact__box2 {
  margin-top: 0.5rem;
  text-align: right;
}
.page__contact2 .contact__container1 .contact__box2 a {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.2rem;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact__container1 .contact__box2 a {
    font-size: 1rem;
  }
}
.page__contact2 .contact_form .contact_formTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_formTitle {
    font-size: 2.4rem;
  }
}
.page__contact2 .contact_form .contact_form--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 960px) {
  .page__contact2 .contact_form .contact_form--box {
    display: block;
    margin-bottom: 2rem;
  }
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--label {
  position: relative;
  width: 250px;
  padding-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}
@media only screen and (max-width: 960px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--label {
    width: 100%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--label {
    font-size: 1.4rem;
  }
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--inner {
  width: 100%;
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--inner .inputs .inputs__text {
  font-size: 1.6rem;
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item {
  width: 338px;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--item {
    width: 100%;
  }
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item .contact_form--box--item--text {
  margin-top: 1rem;
  font-size: 1.4rem;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--item .contact_form--box--item--text {
    font-size: 1.2rem;
  }
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-width {
  width: 120px;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--item.-width {
    width: 100%;
  }
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-flex span {
  width: 100px;
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-profileImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-profileImage span {
  width: 100px;
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-profileImage > img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}
@media only screen and (max-width: 766px), only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--item.-profileImage > img {
    width: 80px;
    height: 80px;
  }
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-wide select {
  width: 150%;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--item.-wide select {
    width: 100%;
  }
}
.page__contact2 .contact_form .contact_form--box .contact_form--box--item.-width2 {
  width: 120px;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box .contact_form--box--item.-width2 {
    width: 100%;
  }
}
.page__contact2 .contact_form .contact_form--box input[type="text"], .page__contact2 .contact_form .contact_form--box input[type="email"], .page__contact2 .contact_form .contact_form--box input[type="number"], .page__contact2 .contact_form .contact_form--box input[type="tel"], .page__contact2 .contact_form .contact_form--box select, .page__contact2 .contact_form .contact_form--box textarea {
  width: 100%;
  padding: 0.8rem 1.1rem;
  font-size: 1.6rem;
  background: #f5f5f5;
  border-radius: 5px;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box input[type="text"], .page__contact2 .contact_form .contact_form--box input[type="email"], .page__contact2 .contact_form .contact_form--box input[type="number"], .page__contact2 .contact_form .contact_form--box input[type="tel"], .page__contact2 .contact_form .contact_form--box select, .page__contact2 .contact_form .contact_form--box textarea {
    font-size: 1.4rem;
  }
}
.page__contact2 .contact_form .contact_form--box .address__text1 {
  width: 106px !important;
}
.page__contact2 .contact_form .contact_form--box .address__text2 {
  margin-top: 1.2rem;
}
.page__contact2 .contact_form .contact_form--box2 .contact_form--box--label {
  position: relative;
  width: 250px;
  padding-top: 1.2rem;
  font-size: 1.6rem;
  font-weight: bold;
}
@media only screen and (max-width: 960px) {
  .page__contact2 .contact_form .contact_form--box2 .contact_form--box--label {
    width: 100%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box2 .contact_form--box--label {
    font-size: 1.4rem;
  }
}
.page__contact2 .contact_form .contact_form--box2 .contact_form--box--item2 {
  margin-top: 0.5rem;
}
.page__contact2 .contact_form .contact_form--box2 .contact_form--box--item2 textarea {
  width: 100%;
  height: 154px;
  padding: 2.1rem 1.7rem;
  font-size: 1.6rem;
  background: #f5f5f5;
  border-radius: 5px;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .contact_form--box2 .contact_form--box--item2 textarea {
    font-size: 1.4rem;
  }
}
.page__contact2 .contact_form .contact_form--box2 .contact_form--box--item2 textarea::placeholder {
  color: #d1d1d1;
}
.page__contact2 .contact_form .send {
  padding: 15px 70px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #5DAC7D;
  border: none;
  display: block;
  margin: 9.4rem auto 0;
  text-align: center;
  width: 253px;
}
@media only screen and (max-width: 480px) {
  .page__contact2 .contact_form .send {
    font-size: 1.6rem;
  }
}
.page__contact2 .contact_form .send:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}
.singelReservation__tHead.-longColspan.-modified {
  background: #5DAC7D !important;
  color: #ffffff;
}
.js-profileImage {
  border-radius: 50% !important;
}
