@charset "UTF-8";
.submissions {
  padding: 8rem 0;
}
.submissions .submissionsLists .submissionsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.submissions .submissionsLists .submissionsList__period {
  margin-top: 1em;
  order: -1;
  transition: 0.3s;
}
.submissions .submissionsLists .submissionsList__period:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}
.submissions .submissionsLists .submissionsList__item {
  display: block;
  padding-left: 1em;
}
